{% extends "layout.html" %}
{% block content %}
<div class="container"> 
    {% include 'includes/_messages.html' %}
    <div class="container d-flex align-items-center contact">
        <div class="form-container">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="">
                {{ form.csrf_token }}
                <h5>Contact Me:</h5>
                <br>
                <div class="form-group">
                    {{render_field(form.name, class_="form-control", placeholder="Enter Name")}}
                </div>
                <div class="form-group">
                    {{render_field(form.email, class_="form-control", placeholder="Enter Email")}}
                </div>
                <div class="form-group">
                    {{render_field(form.subject, class_="form-control", placeholder="Enter Subject")}}
                </div>
                <div class="form-group">
                    {{render_field(form.message, class_="form-control", placeholder="Hi Michael,")}}
                </div>
                <div class="form-group">
                    {{render_field(form.recaptcha, class_="form-control")}}
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}