{% extends "layout.html" %}
{% block content %}
    <!-- Header -->
    <input type="hidden" id="page" value="index">

    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center main-container">
          <h1 class="mx-auto my-0 text-uppercase">Michael Leone</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5 main-text">Technology Enthusiast/Software Developer from Atlanta, GA.</h2>
        </div>
      </div>
    </header>

    <div class="read-more">
      <h4><a class="js-scroll-trigger read-link" href="#about">Read More</a></h4>
      <a class="js-scroll-trigger" href="#about"><img alt="Arrow Down Icon" style="height: 70px;" src="{{ url_for('static', filename='img/Down.jpg') }}"></a>
    </div>
  
      <!-- About Section -->
      <section id="about" class="about-section text-center">
        <div class="container">
          <div class="row">              
            <div class="col-lg-8 mx-auto">
              <img class="img-fluid img-circle" src="{{ url_for('static', filename='img/profile1.png') }}" alt="">
              <br>
              <h2 class="text-white mb-4">About Me</h2>
              <p class="text-white-50" style="text-align: justify;">
                My name is Michael Leone and I am 29 years old and live in Atlanta, GA. 
                I enjoy learning and keeping up to date with the latest trends and tools in the IT industry. 
                I'm experienced with working with the AWS cloud, web application development, database management 
                and front end web design. As the development lead across three internal web applications, I'm spearheading the effort 
                for migrating these applications into AWS. I'm determined and enthusiastic about my job duties 
                while committed to deliver the best result possible. I also strive to be approachable and dependable 
                among my coworkers and know how to have fun.
              </p>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Projects Section -->
      <section id="projects" class="projects-section bg-light">
        <div class="container">
  
          <!-- Featured Project Row -->
          <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-8">
              <div class="text-center text-lg-left">
                <h4>Future Goals/Ventures (For 2019)</h4>
                <ul>
                  <li>
                    Microservices
                  </li>
                  <li>
                    Mobile Application Development
                  </li>
                  <li>
                    Continuous Integration/Continuous Deployment
                  </li>
                  <li>
                    Machine Learning/AI
                  </li>
                  <li>
                    Serverless Architecture
                  </li>
                  <li>
                    AutoScaling
                  </li>
                  <li>
                    Security
                  </li>
                  <li>
                    Blockchain
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center text-lg-left">
              <img src="{{ url_for('static', filename='img/programming.png') }}" alt="" style="height: 200px; width: 200px;">
            </div>
          </div>
          
          <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <p>Outside of technology, I'm an avid sports fan and passionate supporter of Atlanta teams.</p>
          </div>

        </div>
      </section>

{% endblock %}