/*
* TODO: Add styling
*/

.main-container {
  margin-bottom: 250px;
}

.main-text {
  color: #fff;
}

.read-more {
  text-align: center;
  position: absolute;
  left: calc(50% - 54px);
  top: calc(100% - 120px);
}

.read-link {
  color: white !important;
}

.about-section p, footer{
  color: #fff !important
}

.navbar-brand, .nav-link {
  color: #000 !important; /*Sets the text hover color on navbar*/
}

.navbar-shrink > .navbar-brand {
  color: #000 !important; /*Sets the text hover color on navbar*/
}

.navbar-shrink > .nav-link {
  color: #000 !important; /*Sets the text hover color on navbar*/
}

.projects, .contact {
  height: 100vh;
}

.resume {
  margin-top: 130px;
}

.error {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
  margin-bottom: 25px;
}

.contact-section {
  background-color: #212529 !important;
  padding-bottom: 40px !important;
}

.contact-section .social {
  margin-top: 0 !important;
}

.shrink {
  color: black !important;
}

.alert {
  margin-top: 80px !important;
  margin-bottom: -95px !important;
}