{% extends "layout.html" %}
{% block content %}
<div class="container d-flex align-items-center projects">
    <div class="mx-auto text-center project-table">
        <h1>Personal Projects</h1>
        <p>Here is my GitHub portfolio</p>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Language</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Stars</th>
                  </tr>
                </thead>
                <tbody>
                  {% for project in projects %}
                  <tr>
                    <td><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.language }}</td>
                    <td>{{ project.create_date }}</td>
                    <td>{{ project.stars }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
    </div>
</div>
{% endblock %}