<!--<embed src="{{ url_for('static', filename='docs/resume.pdf') }}" width="100%" height="100%" 
 type="application/pdf">-->
 {% extends "layout.html" %}
 {% block content %}
 <section id="resume">
    <div class="container resume">
        <div class="title_section">
            <div class="row" style="height: 50px; margin-bottom: 30px;">
                <div class="col-12">
                    <a href="{{ url_for('static', filename='docs/resume.pdf') }}"class="btn btn-primary" style="background-color: #2474f0;" download>Download PDF</a>
                </div>
            </div>
            <div class="row" style="height: 200px">
                <div class="col-8" style="font-size: 70px;"><b>Michael S. Leone</b></div>
                <div class="col-4" style="padding-left: 75px; margin-top: 15px;">
                    <div><i class="fa fa-desktop"></i><a href="/"> www.michaelleone.io</a></div>
                    <div><i class="fa fa-envelope"></i><a href="mailto:msleone90@gmail.com"> msleone90@gmail.com</a></div>
                    <div><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/mleone1/" target="_blank"> www.linkedin.com/in/mleone1</a></div>
                </div>
            </div>
        </div>
        <div class="education_section">
            <div class="row" style="height: 75px">
                <div class="col-12" style="color: #2474f0; font-size: 30px;"><i class="fa fa-university"></i><b> EDUCATION</b></div>
            </div>
            <div class="row" style="height: 100px">
                <div class="col-3"><b>Aug 2008 - Dec 2013</b></div>
                <div class="col-9"><b>B.S. in Management Information Systems - University of Alabama</b></div>
            </div>
        </div>
        <div class="experience_section">
            <div class="row" style="height: 75px">
                <div class="col-12" style="color: #2474f0; font-size: 30px;"><i class="fa fa-briefcase"></i><b> EXPERIENCE</b></div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Jan 2014 - Present</b></div>
                <div class="col-9">
                    <div style="margin-bottom: 10px;"><b>Systems Engineer,</b><i> Verizon, Alpharetta, GA</i></div>
                    <div style="padding-left: 20px;">
                        <ui>
                            <li>
                                Lead the effort in migrating on-premises applications into the AWS cloud which lead to cost savings,
                                better application performance, high availability and elasticity.
                            </li>
                            <li>
                                Assumed role as development lead over three internal projects which involved providing new
                                enhancements, responding to client feedback and attending meetings to improve application quality.
                            </li>
                            <li>
                                Aided in performing maintenance/continuous improvement for their IT cloud service applications.
                            </li>
                            <li>
                                Collaborated with IT cloud service team to build and deploy tools to boost performance for internal and
                                external clients.
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Aug 2013 - Dec 2013</b></div>
                <div class="col-9">
                    <div style="margin-bottom: 10px;"><b>Application Architect,</b><i> UA MIS, Client: P&G, Tuscaloosa, AL</i></div>
                    <div style="padding-left: 20px;">
                        <ui>
                            <li>
                                Delivered a user-friendly app that can be used by P&G Industrial Engineers to record the needed data
                                elements for Workforce Management software startups at P&G Warehouses & Distribution Centers.
                            </li>
                            <li>
                                Provided faster and better-quality startups at P&G distribution centers by reducing effort to capture,
                                cleanse, and prepare the data for the target system.
                            </li>
                            <li>
                                Helped design and develop a web-based application that prompts to capture the right information during
                                the site assessment, presents the data for review / cleansing and then provides a simple extract function
                                to prepare the data for import to the WFM software.
                            </li>
                            <li>
                                Worked with fellow team members to complete key deliverables, and managed time efficiently to result
                                in a high-quality application, which would offer P&G 25-30% productivity savings.
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>May 2010 - Aug 2013</b></div>
                <div class="col-9">
                    <div style="margin-bottom: 10px;"><b>Associate Camp Director,</b><i> Northwest YMCA, Acworth, GA</i></div>
                    <div style="padding-left: 20px;">
                        <ui>
                            <li>
                                Provided children with a wide array of activities and discussions to help build youth development.
                            </li>
                            <li>
                                Aided Camp Directors through managing and organizing camp schedule and activities.
                            </li>
                            <li>
                                Volunteered and worked with leaders in training and camp counselors to provide them with necessary
                                leadership skills.
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Jan 2013 - May 2013</b></div>
                <div class="col-9">
                    <div style="margin-bottom: 10px;"><b>Development Lead,</b><i> UA MIS, Client: PwC, Tuscaloosa, AL</i></div>
                    <div style="padding-left: 20px; margin-bottom: 20px;">
                        <ui>
                            <li>
                                Develop an application using C# and the .NET framework that will reduce time required to
                                implement Oracle Fusion HCM applications.
                            </li>
                            <li>
                                Helped provide a standardized method of data validation, and saved over 100 hours of labor per
                                conversion.
                            </li>
                            <li>
                                Aided in the design and build of a Windows Forms application that extracts data into a generated report,
                                increasing visibility in up-front analytics.
                            </li>
                            <li>
                                Collaborated with team members in order to use time effectively and complete deliverables, resulting in
                                a high-quality product meeting the client’s standards.
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills_section">
            <div class="row" style="height: 75px">
                <div class="col-12" style="color: #2474f0; font-size: 30px;"><i class="fa fa-pencil"></i><b> SKILLS</b></div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Programming Languages:</b></div>
                <div class="col-9" style="padding-left: 20px;">
                    PHP, Python, C#, JavaScript, HTML, CSS, Oracle, PostgreSQL
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Frameworks:</b></div>
                <div class="col-9" style="padding-left: 20px;">
                    Zend Framework, Flask, .NET, ASP.NET MVC, jQuery, Twitter Bootstrap
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Operating Environments:</b></div>
                <div class="col-9" style="padding-left: 20px;">
                    Windows, Mac OS, Linux
                </div>
            </div>
            <div class="row" style="margin-bottom: 75px;">
                <div class="col-3"><b>Business Tools:</b></div>
                <div class="col-9" style="padding-left: 20px;">
                    Microsoft Office, Photoshop, Windows Visual Studio 2010, Firebug, VS Code
                </div>
            </div>
        </div>
        <div class="certs_section">
            <div class="row" style="height: 75px">
                <div class="col-12" style="color: #2474f0; font-size: 30px;"><i class="fa fa-certificate"></i><b> CERTIFICATIONS</b></div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Aug 2018 - Aug 2020</b></div>
                <div style="padding-left: 20px;">AWS Certified SysOps Administrator Associate</div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Feb 2018 - Feb 2020</b></div>
                <div style="padding-left: 20px;">AWS Certified Solutions Architect Associate</div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-3"><b>Sep 2017 - Sep 2019</b></div>
                <div style="padding-left: 20px;">AWS Certified Developer Associate</div>
            </div>
            <div class="row" style="margin-bottom: 80px;">
                <div class="col-3"><b>Nov 2014</b></div>
                <div style="padding-left: 20px;">ITIL Foundation Certificate in IT Service Management</div>
            </div>
        </div>
    </div>
</section>
 {% endblock %}