{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

{% if msg %}
    <div class="alert alert-{{ msgType }}">{{msg}}</div>
{% endif %}