<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael Leone</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grayscale.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/site-favicon.ico') }}" type="image/x-icon">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  </head>

  <body id="page-top">

    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}
  
      <!-- Social Section -->
      <section class="contact-section">
          <div class="container">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="text-white mb-5">SOCIAL</h2>
                <p class="text-white mb-5">
                    Follow for updates.
                </p>
            </div>
    
            <div class="social d-flex justify-content-center">
              <a href="https://twitter.com/msleone90" target="_blank"class="mx-2">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/msleone90" target="_blank" class="mx-2">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.linkedin.com/in/mleone1/" target="_blank" class="mx-2">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="https://github.com/msleone90" target="_blank" class="mx-2">
                <i class="fa fa-github"></i>
              </a>
            </div>
    
          </div>
        </section>

    <!-- Footer -->
    <footer class="bg-black small text-center footer">
      <div class="container">
        Copyright &copy; Michael Leone {{ now.year }}
      </div>
    </footer>

    <!-- JS Scripts-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

  </body>

</html>
